

body{
background:#3f3f3f;
}

main{
    z-index: 5;
}


#homeback{
	display: none;
	height: 100%;
	width: 100%;	
}

#homegradient{
	 background: linear-gradient(to top right, #000000 20%, #000000 20%, transparent 100%),
		linear-gradient(to top left, #000000 20%, #000000 20%, transparent 100%);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

}

#homebg{
	background:transparent;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*Apps*/

.app-container{
	display: none;
    z-index:10;
	background: whitesmoke;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}

.apps{
	height: 100%;
	width: 100%;
}

.apps iframe{
	height: 100%;
	width: 100%;
	border: 0;
}


/*-----------------------------------*/

/*loading*/
#loading{
	display: none;
    z-index:100;
	background: rgba(0,0,0,0.80);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	
}

#loading p{
	height: 100vh;
	line-height: 100vh;
}

/*-----------------------------------*/

/*Movie Details*/

#system{
    display: none;
    z-index:20;
	background: rgba(0,0,0,0.90);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}

#movdetails{
    display: none;
	z-index: 20;
	width: 100vw; 
	height: 100vh;
	background: #FFF;
    border-radius: 5px;
    background: transparent;
    position: absolute;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.25),0 10px 20px 0 rgb(0,0,0);
}

#movdetails #con{
    height: 100%;
    width: auto;
    background: linear-gradient(to top, #282828 0%, #282828 20%, #4c4c4c 100%);
    border-radius: 5px;

}

#movdetails #topcon #buttons{
	width: 50vw;
	margin-left: 2vw;
	height: 3vw;
	text-align: left;
	padding-left: 0.8vw;
	position: relative;
	
}

#movdetails #topcon #buttons .btn-light{
	height: 6vh;
	
}


#movdetails #topcon{
     height: 53%;
    width: 100%;
    display: block; 
    overflow: hidden;
   
}

#movdetails #poster{
    position: relative;
    margin-top: 4%;
    width: 15vw;
    height: 40vh;
    float:left;
    margin-left: 5%;
    margin-right: 1%;
    border-radius: 5px;
    background-size: 100% 100%;
  background-repeat: no-repeat;
    border: 1px solid transparent;
     box-shadow: 0 px 50px 0 rgba(21,21,21,.25),0 12px 15px 0 rgba(21,21,21,.30);
    z-index:7;
}

#movdetails #info{
    position: relative;
    width: 75%;
    height: 90%;
    float:left;
    z-index: 7;
    margin-top: 2%;
}

#movdetails #smallinfo{
    height: 4vh;
    color: whitesmoke;
    display: block;
    text-align: left;
    margin-top: 4%;
}

#movdetails #smallinfo p{
    color: white;
	font-weight: 300;
    font-size: 1.3vw;
    display: inline;
    margin-left: 5%;
    padding: 4px;
    background: rgba(255,255,255,0.50);
    border-radius: 2px;
}

#movdetails #smallinfo #year:before{
    content: "Year: ";
}

#movdetails #smallinfo #runtime:before{
   content: "Runtime: ";
}

#movdetails #smallinfo #runtime:after{
   content: " minutes";
}

#movdetails #smallinfo #vote:before{
   content: "Vote: ";
}

#movdetails #smallinfo #vote:after{
  content: " /10";
}

#movdetails p{
    color: whitesmoke;
 	font-weight: normal;
    font-size: 1.5vw;
    margin-left: 5%;
    text-align: left;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#movdetails #title{
    color: whitesmoke;
    font-size: 3.2vw;
    text-align: left;
    margin-top: 0;
    margin-bottom: 2vh;
}

#movdetails #cast:before{
    content: "Cast: ";
}

#movdetails #cast{
    font-weight: 300;
}

#movdetails #plot:before{
    content: "Plot: ";
}

#movdetails #plot{
    width: 55vw;
    height: 15vh;
}

#movdetails #bg{
    height:100%;
    width: 100%;
    background-color: transparent;
    z-index:5;
    position: absolute;
    margin-top: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

#movdetails #gradient{
    height:100%;
    width: 100%;
    background: linear-gradient(to top right, #000000 10%, #000000 10%, transparent 90%),
		linear-gradient(to top left, #000000 10%, #000000 10%, transparent 90%);
    z-index: 6;
    position: absolute;
    margin-top: 0;
}

#movdetails #bottom{
    height: 40%;
    width: 100%;
    display: block;
	background-color:transparent;
	z-index: 10;
	position: relative;
}

#movdetails #bottom .row .rowchild{
	text-align: left;
	height: 30vh;
	padding-left: 1vw;
}

 #movdetails #bottom .row .title{
	 left: 6vw;
	
}

#movdetails #bottom .row .rowchild .movbox #movinfo{
	text-align: left;
	top: 0;
	padding: 0;
	
}

#movdetails #bottom .row .rowchild .movbox {
	width: 11vw;
	
}
/**/



#searchcon{

   	height: 16vh;
    margin-top: 4%;
}

#searchbar{
    position: absolute;
    width: 45vw;
    height: 6vh;
    border-radius: 2px;
    background-color: white;
    left:50%;
    margin-left: -22.5vw;
    opacity: 0.7;;
    margin-top: 1.5%;
     box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      -webkit-transition: .2s all;
    outline: none;
    
    
}

#searchbar:focus{

    transform: scale(1.1, 1.1);
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.25),0 12px 15px 0 rgba(0,0,0,.30);
    opacity: 1;
}

#searchbar p{
   
    font-size: 1.1vw;
    font-style: italic;
    color: darkgray;
    margin-left: 1vw;
    margin-top: 2vh;
    
}

#quick-settings{
	position: absolute;
	right: 0;
	margin-right: 5vw;
	height: 13vh;
}

#quick-settings #time{
	color: whitesmoke;
	font-weight: lighter;
	font-size: 3.5vw;
	margin-top:0;
}

body.theme-light #quick-settings #time{
	color: gray;
	font-weight: 300;
}


.movbox{
        display: inline-flex;
        border: 1px solid transparent;
        outline: none;
        background-color: transparent;
        border-radius: 0.2vw;
        width: 10vw;
        height: 28vh;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 0.2%;
        margin-top: 0.2%;
        outline: none;
		-webkit-transition: .2s all;
		background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 0.70;
	    position:relative;
    }
    
.movbox:focus{

		box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 24px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
		border: 1px solid transparent;
        transform: scale(1.15, 1.15);
        
    }

body.theme-light .movbox{
	border: 0px;
	opacity: 0.9;
}

body.theme-light .movbox #movinfo{
	background: rgba(25,25,25,0.5);
	color: whitesmoke;
}

body.theme-light .movbox #movinfo{
	
	color: dimgray;
}

.movbox #movinfo{
	color: #333333;
    opacity: 0;
    width: 100vw;
    background: rgba(255,255,255,0.6);
	padding: 2vw;
	text-align: center;
    -webkit-transition:  all .25s;
  transition:  all .25s;  
}

.movbox #movinfo #movtitle{
   
    margin: 3%;
    font-size: 1.3vw;
    font-weight: 500;
	margin-top:10vh;
	text-align: center;
vertical-align: middle;
line-height: 100%;     
}

.movbox #movinfo #id{
display: none;
}

.movbox:focus #movinfo{
	
    opacity: 1;
    -webkit-transition:  all .25s;
  transition:  all .25s;  
}



.row .title{
	margin-left: 6.5vw;
    font-size: 1.5vw;
	font-weight: normal;
    position: absolute;
}

.rowchild{
	margin-left: 5%;
}


.appbox{
        display: inline-flex;
        border: 1px solid: transparent;
        background-color: transparent;
        border-radius: 0.3vw;
        width: 13vw;
        height: 14vh;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0  1px 20px 0 rgba(0, 0, 0, 0.19);
         margin: 0.2%;
        margin-top: 0.3%;
        outline: none;
        -webkit-transition: .2s all;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: 0.70;
    }
    
.appbox:focus{
    	border: 1px solid transparent;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 			25px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.15, 1.15);
        opacity: 1;
        border-radius: 0.3vw;
    }

.appbox #apptitle{
	visibility: hidden;
}

body.theme-light .appbox{
	border: 0px;
	opacity: 0.9;
}

#appcon{
	height: auto;
	width: 100%;
}
  
#appcon .rowchild{
	height: auto;
	width: 100%;
	padding-top: 3vh;
	padding-left: 1vw;
}

#appcon .rowchild .appbox{
	margin-right: 4vw;
	margin-bottom: 3.5vh;
}



.recbox{
        display: inline-flex;
        border: 1px solid transparent;
        outline: none;
        background-color: transparent;
        border-radius: 0.2vw;
        width: 17vw;
        height: 16vh;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
         z-index: 1;
        margin: 0.2%;
        margin-top: 0.3%;
        outline: none;
		-webkit-transition: .2s all;
         background-size: 100% 100%;
  background-repeat: no-repeat;
        opacity: 0.70;
        overflow: hidden;
    position:relative;
	padding: 0;
}

.recbox:focus{
		border: 1px solid transparent;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 			20px 0 rgba(0, 0, 0, 0.19);
        opacity: 1;
        transform: scale(1.15, 1.15);
		
}

body.theme-light .recbox{
	border: 0px;
	opacity: 0.9;
}

body.theme-light .recbox #recinfo{
	background: rgba(25,25,25,0.5);
	color: whitesmoke;
}

body.theme-dark .recbox #recinfo{
	color: dimgray;
}

.recbox #recinfo{
    opacity: 0;
    width: 100%;
    height:100%;
    background: rgba(255,255,255,0.6);
	padding: 2vw;
	padding-top:6vh;
    -webkit-transition:  all .25s;
  transition:  all .25s; 
	text-align: center;
}

.recbox #recinfo #rectitle{
    margin: 3%;
    font-size: 1.2vw;
    margin-top: 2%;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;  
}

.recbox #recinfo #id{
  display: none;
}

.recbox:focus #recinfo{
	color: #333333;
    opacity: 1;
    -webkit-transition:  all .25s;
  transition:  all .25s; 
}

#reccon .row{
	overflow: scroll;
}

.row .title{
	left:10vw;
}