<html>
	
<head>
	<link rel=stylesheet type="text/css" href="Lauve.css">

	
</head>


<body class="theme-dark">
	
	<main >
		
		<div class="tabs">
			
    <ul class="tab-links">
        <li class="active"><a href="#tab1" class="active dpad-focusable" tabindex="0">Home</a></li>
        <li><a href="#tab2" class="dpad-focusable" tabindex="0">Top Movies</a></li>
		<li><a href="#tab3" class="dpad-focusable" tabindex="0">Top Games</a></li>
		<li><a href="#tab4" class="dpad-focusable" tabindex="0">Your Account</a></li>
		
    </ul>
 
    <div class="tab-content">
			
        <div id="tab1" class="tab active">
			
            <h1>Lauve TV Components</h1>
			
            <p>This is a paragraph! Do you think I have nice formatting? </p>
			<a class="btn dpad-focusable" tabindex="0">Button 1</a>
			<a class="btn dpad-focusable" tabindex="0">I</a>
			
			<div class="card med dpad-focusable" tabindex="0"></div>
			
			<ul class="collection">
				<li class="dpad-focusable" tabindex="0"><span class="title">Hello</span><span class="subtitle">Hello</span></li>
				<li class="dpad-focusable" tabindex="0">Hello</li>
			</ul>
			
			<div class="card-con">
				<div class="card med dpad-focusable" tabindex="0"></div>
				<p class="title">Test</p>
			</div>
				
				<div class="card-con">
				<div class="card med dpad-focusable" tabindex="0"></div>
				<p class="title">Test</p>
			</div>
				
        </div>
 
        <div id="tab2" class="tab">
            <p>Tab #2 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
        </div>
 
		<div id="tab3" class="tab">
            <p>Tab #3 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>
						<a class="btn dpad-focusable" tabindex="0">Button</a>
			<a class="btn dpad-focusable" tabindex="0">f</a>
        </div>
		
		<div id="tab4" class="tab">
            <p>Tab #4 content goes here!</p>
            <p>Donec pulvinar neque sed semper lacinia. Curabitur lacinia ullamcorper nibh; quis imperdiet velit eleifend ac. Donec blandit mauris eget aliquet lacinia! Donec pulvinar massa interdum risus ornare mollis. In hac habitasse platea dictumst. Ut euismod tempus hendrerit. Morbi ut adipiscing nisi. Etiam rutrum sodales gravida! Aliquam tellus orci, iaculis vel.</p>

        </div>
			
    	</div>
			
		</div>
	</main>
	
	
</body>
	
	<script src="jquery-2.2.2.min.js"></script> 
	<script type="text/javascript" src="dpad-nav-lib-0.0.4.min.js"></script> 
		<script src="Lauve.js"></script>
</html>
